<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LyDev - {% block title %} {% endblock %}</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet">
</head>

<body {% block binfo %}style="background-color: #dedede;"{% endblock %}>

    {% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">📡 LyApi Developer</a>&nbsp;

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item {% if page == 'info' %}active{% endif %}">
                        <a class="nav-link" href="/@dev">@Information
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item {% if page == 'manager' %}active{% endif %}">
                        <a class="nav-link" href="/@dev/manager">@Manager</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav><br />
    {% endblock %}

    <div class="container">
        {% block main %}{% endblock %}
    </div>


    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://www.layuicdn.com/layer-v3.1.1/layer.js"></script>

    {% block script %}{% endblock %}
</body>

</html>