<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="Resource?type=bootstrap&location=css">
    <script src="Resource?type=bootstrap&location=js"></script>
    <title>LyApi - Welcome</title>
</head>

<body>
    <style>
        .container {
            width: 60%;
            margin: 10% auto 0;
            background-color: #f0f0f0;
            padding: 2% 5%;
            border-radius: 10px
        }
    </style>
    <center class='container'>
        <h1>LyApi FrameWork {{LyApi_Version}}<h1>
                <h2>官方站点：
                    <a href='http://lyapi.org'>LyApi.org</a> 
                    &nbsp; OR &nbsp; 博客教程：
                    <a href='http://blog.wwsg18.com'>Blog.wwsg</a>
                </h2>
        
                <h3>项目QQ群：769094015</h3>

                <h3><a href='?Mode=Test'>前往功能测试页面</a></h3>
                <p style='color:#a2a2a2;'>当你看到这个页面时，LyApi已经安装成功！</p>
    </center>
</body>

</html>