<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LyApi 2.0 - 全新升级！</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet">
</head>

<body style="background-color: #dedede;">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">🍭 LyApi FrameWork</a>&nbsp;

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">主页 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/@dev">@Dev</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav><br />

    <div class="container">
        <div class="alert alert-primary" role="alert">
            🍭 [ DoreaDB ] 一个超轻量的 K-V 数据库系统！将支持与 LyApi 完美结合。
            <a href="https://dorea.mrxzx.info/">快去围观！</a>
        </div>

        <div class="jumbotron">
            <h1 class="display-4">Hello, LyApi !</h1>
            <p class="lead">本页面为 <strong>LyApi</strong> 自动生成！您可以自由删除或更新本页面！ </p>
            <hr class="my-4">
        </div>

        <div class="card">
            <div class="card-header">
                🍭 关于本页面 <a href="#" class="badge badge-pill badge-warning">News</a>
            </div>
            <div class="card-body">
                <div class="card-text">
                    <p>🎉本页面渲染自：[ /resource/view/demo/index.html ]</p>
                    <p>🎇本页面控制器：[ Application.Controller.Root.index ]</p>
                </div>
            </div>
        </div><br />

    </div>

    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js"></script>
</body>

</html>